.form-group-divide {
  display: flex;
  justify-content: space-between;
  .form-group {
    width: 45%;
  }
}
.modal-body {
  max-height: 700px;
  overflow: auto;
}
.modal-dialog {
  @media (min-width: 576px) {
    max-width: 900px !important;
  }
}
.rbt {
  :first-child {
    height: auto !important;
  }
}

.rbt-aux {
  align-items: center;
  display: flex;
  bottom: 0;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 34px;
}

.type-head {
  display: flex;
  justify-content: space-between;

  .rbt {
    width: 95%;
  }
}

.find-parent {
  .modal-dialog {
    @media (min-width: 576px) {
      max-width: 1200px !important;
    }
  }
  .modal-body {
    height: 70vh !important;
    max-height: 70vh !important;
    overflow: auto;
  }
}
