﻿.footer {
  width: 100%;
  height: 80px;
  padding: 10px;
  border-top: 1px solid #e7e7e7;

  p {
    margin: 0;
    padding: 0;
  }
}

.layout {
  height: 100%;
}
.logoItem {
  margin: 0px 13px 5px 0px;
}
.card-body {
  padding: 20px 20px 0px 20px;
}

ul.pagination {
  font-size: 13px;
  & > li > span {
    cursor: pointer;
  }
  .page-link {
    border-radius: 2px !important;
  }

  .page-item.active {
    .page-link {
      background-color: #f35800;
      border-color: #f35800;
    }
  }
}

.tippy-content {
  font-size: 14px;
}

label {
  margin: 5px !important;

  &.required {
    &:after {
      content: "*";
      color: red;
      padding-left: 4px;
      font-size: 18px;
      position: absolute;
    }
  }
}

.navbar-dark .navbar-nav {
  .active > .nav-link,
  .nav-link.active,
  .nav-link.show,
  .show > .nav-link {
    color: #fff;
  }
}
.sidebar {
  position: absolute;
  width: 20vw;
  height: 93vh;
}
.topmenu {
  height: 7vh;
  padding-left: 0px !important;
}
.logo {
  height: 7vh;
  width: auto;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.div-logo {
  height: auto;
  width: 20vw;
  background-color: white;
}
.navBlue {
  background-color: #1867b2;
}
.navDarkBlue {
  background-color: #0d569b;
}

.whiteBg {
  background-color: #fff;
}
.white {
  color: #fff !important;
}
.pointer {
  cursor: pointer;
}
.hoverNav {
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.hoverNav:hover {
  background-color: #1867b2;
  transition: all 0.5s ease-in-out;
}
.button-reload {
  // color: lightblue;
  height: 38px;
  margin-left: 10px;
}
#authorizedLayout {
  .container {
    max-width: 75vw !important;
    width: 100vw !important;
    padding-left: 30px !important;
    margin-left: 20%;

    tr {
      height: 36px !important;
      font-size: 13px;
    }

    .table td {
      padding-top: 0.1rem !important;
      padding-bottom: 0.1rem !important;
      vertical-align: middle;
      font-size: 13px;
      border: none;
    }
  }

  .iconMenuLoad {
    float: right;
    padding: 3px;
    margin-top: 4px;
  }

  .tr-selected {
    background-color: #e5f2fa;
  }

  table {
    border: 1px #d9d9d9 solid;
  }
  .option-panel {
    width: 100%;
    display: flex;
    justify-content: right;
    margin-bottom: 10px;
    margin-top: -5px;
    div {
      cursor: pointer;
    }
    .add {
      margin-right: 20px;
    }
  }
}
.iconMenuLoad {
  float: right;
  padding: 3px;
  margin-top: 4px;
}
.subtitle:hover {
  color: red;
  text-decoration: none;
}
.subtitle {
  color: #1068b2;
}
.subrow:hover {
  background-color: #e3f3ff;
}
.iconMenuLoad {
  float: right;
  padding: 3px;
  margin-top: 4px;
}
thead {
  background-color: #f5f5f5;
  border-color: #d9d9d9;
}
.recordsInfo {
  text-align: right;
  font-size: 12px;
  padding: 5px 5px 0px 0px;
  width: 100%;
}
